[submodule "themes/even"]
	path = themes/even
	url = https://github.com/hichenxinyu/hugo-theme-even.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
[submodule "themes/hugo-theme-diary"]
	path = themes/hugo-theme-diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
